In [144]:
import pandas as pd
import os 
import json
import sys 

sys.path.append('..')
from config import get_config

conf = get_config()

In [191]:
file_name = [k for k in os.listdir() if k.endswith('.csv')][0]
json_file = [k for k in os.listdir() if k.endswith('.json')][0]

df = pd.read_csv(file_name,sep= ';')

with open(json_file,'r') as f:
    jf = json.load(f)

cols = list(jf['results'][0].keys())

df.columns = cols
ndf = pd.DataFrame(jf['results'])

In [198]:
df.convert_dtypes().dtypes

id                             Int64
event_id                       Int64
url                   string[python]
title                 string[python]
lead_text             string[python]
                           ...
contact_instagram     string[python]
contact_messenger     string[python]
contact_pinterest              Int64
contact_soundcloud    string[python]
univers               string[python]
Length: 69, dtype: object

In [201]:
len(set(ndf[conf.columns_api].id.astype(str).to_list()).intersection(df.id.astype(str).to_list())),len(set(ndf[conf.columns_api].event_id.astype(str).to_list()).intersection(df.event_id.astype(str).to_list()))

(73, 73)

In [84]:
unique_id_com = set(ndf[conf.columns_api].id.to_list()).intersection(df.id.to_list())

In [118]:
dd = ndf[ndf.id.isin(unique_id_com)].sort_values(by='id').reset_index(drop=True),df[df.id.isin(unique_id_com)].sort_values(by='id').reset_index(drop=True)

In [129]:
dd[0][(dd[0].title != dd[1].title)].title.iloc[0]

'Paris sport proximité\xa0: tennis de table, badminton au stade Louis Lumière'

In [130]:
dd[1][(dd[0].title != dd[1].title)].title.iloc[0]

'Paris sport proximité\xa0: tennis de table, multisports, badminton au stade Louis Lumière'

In [ ]:
dd[1][(dd[0].title != dd[1].title)] == dd[0][(dd[0].title != dd[1].title)]

,id,event_id,url,title,lead_text,description,date_start,date_end,occurrences,date_description,...,contact_youtube,contact_bandcamp,contact_linkedin,contact_snapchat,contact_whatsapp,contact_instagram,contact_messenger,contact_pinterest,contact_soundcloud,univers
31,True,True,True,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [142]:
type(dd[1][(dd[0].title != dd[1].title)].T.to_dict()[31]['mental'])

float

In [143]:
type(dd[0][(dd[0].title != dd[1].title)].T.to_dict()[31]['mental'])

str

In [139]:
dd[1][(dd[0].title != dd[1].title)].T.to_dict()

{31: {'id': '49878',
  'event_id': '35980',
  'url': 'https://www.paris.fr/evenements/paris-sport-proximite-tennis-de-table-multisports-renforcement-musculaire-taekwondo-au-stade-louis-lumiere-49878',
  'title': 'Paris sport proximité\xa0: tennis de table, multisports, badminton au stade Louis Lumière',
  'lead_text': 'Participez à un large choix de disciplines proche de chez vous encadrées par éducateurs sportifs de la Ville de Paris.',
  'description': '<p>Venez pratiquer une activité sportive proche de chez vous\xa0! Rejoignez nous chaque mercredi, pour participer à des sessions de <strong>tennis de table, multisports, badminton </strong>au <strong>stade Louis Lumière, </strong>30 rue Louis Lumière 75020</p><section>\n  <h2>Jour et horaires</h2>\n  <p><br>Mercredi\xa0: <br>- 12h00-13h30 (badminton, Adultes)<br>- 12h30-13h30 (tennis de table, Adultes)<br>- 14h00-15h00 (tennis de table / badminton, Familles)<br>- 15h00-16h30 (multisports, 7/ 17 ans)<br></p>\n</section>\n<p>Vous n\'avez pas besoin de vous inscrire préalablement pour y participer. Il vous suffit de vous rendre directement sur l’un des créneaux Paris Sport Proximité, <strong>dans la limite des places disponibles. Gratuit.</strong></p><p><a href="https://www.paris.fr/comment-faire-du-sport">Tout savoir sur les dispositifs sportifs de la Ville de Paris</a></p>',
  'date_start': '2025-09-22T02:00:00+02:00',
  'date_end': '2026-07-05T01:59:59+02:00',
  'occurrences': nan,
  'date_description': 'Du lundi 22 septembre 2025 au samedi 04 juillet 2026 : <br />',
  'cover_url': 'https://cdn.paris.fr/qfapv4/2025/03/06/huge-d6a75870eaba3690efb1d2c64ad4c6fb.png',
  'cover_alt': 'Multisports',
  'cover_credit': 'Freepik',
  'locations': "[{'address_street': '30 rue Louis Lumière', 'address_zipCode': '75020', 'address_name': 'Centre Sportif Louis Lumière', 'address_lat_lon': '48.8591980183773,2.4116459593231', 'location_type': 'service', 'address_city': 'PARIS'}]",
  'address_name': 'Centre Sportif Louis Lumière',
  'address_street': '30 rue Louis Lumière',
  'address_zipcode': '75020',
  'address_city': 'Paris',
  'lat_lon': '48.8591980183773, 2.4116459593231',
  'pmr': nan,
  'blind': nan,
  'deaf': nan,
  'sign_language': nan,
  'mental': nan,
  'transport': nan,
  'contact_url': nan,
  'contact_phone': nan,
  'contact_mail': nan,
  'contact_facebook': nan,
  'contact_twitter': nan,
  'price_type': 'gratuit',
  'price_detail': '<p>Dans la limite des places disponibles.</p>',
  'access_type': 'non',
  'access_link': nan,
  'access_link_text': nan,
  'updated_at': '2025-09-29T17:46:54+02:00',
  'image_couverture': nan,
  'programs': 'Paris sport proximité\xa0: des activités gratuites proches de chez vous (https://www.paris.fr/evenements/paris-sport-proximite-des-activites-gratuites-proches-de-chez-vous-44433)',
  'address_url': nan,
  'address_url_text': nan,
  'address_text': nan,
  'title_event': 'Paris Sport Proximité',
  'audience': 'Public jeunes et adultes.',
  'childrens': nan,
  'group': 'Activités DJS',
  'locale': 'fr',
  'rank': '947.31',
  'weight': '1',
  'qfap_tags': 'Sport',
  'universe_tags': nan,
  'event_indoor': '1',
  'event_pets_allowed': '0',
  'contact_organisation_name': 'Direction de la Jeunesse et des Sports',
  'contact_url_text': nan,
  'contact_vimeo': nan,
  'contact_deezer': nan,
  'contact_tiktok': nan,
  'contact_twitch': nan,
  'contact_spotify': nan,
  'contact_youtube': nan,
  'contact_bandcamp': nan,
  'contact_linkedin': nan,
  'contact_snapchat': nan,
  'contact_whatsapp': nan,
  'contact_instagram': nan,
  'contact_messenger': nan,
  'contact_pinterest': nan,
  'contact_soundcloud': nan,
  'univers': nan}}

In [ ]:
dd[1][(dd[0].title != dd[1].title)].T.to_dict()[31]

[]

{'id': '49878',
 'event_id': '35980',
 'url': 'https://www.paris.fr/evenements/paris-sport-proximite-tennis-de-table-multisports-renforcement-musculaire-taekwondo-au-stade-louis-lumiere-49878',
 'title': 'Paris sport proximité\xa0: tennis de table, multisports, badminton au stade Louis Lumière',
 'lead_text': 'Participez à un large choix de disciplines proche de chez vous encadrées par éducateurs sportifs de la Ville de Paris.',
 'description': '<p>Venez pratiquer une activité sportive proche de chez vous\xa0! Rejoignez nous chaque mercredi, pour participer à des sessions de <strong>tennis de table, multisports, badminton </strong>au <strong>stade Louis Lumière, </strong>30 rue Louis Lumière 75020</p><section>\n  <h2>Jour et horaires</h2>\n  <p><br>Mercredi\xa0: <br>- 12h00-13h30 (badminton, Adultes)<br>- 12h30-13h30 (tennis de table, Adultes)<br>- 14h00-15h00 (tennis de table / badminton, Familles)<br>- 15h00-16h30 (multisports, 7/ 17 ans)<br></p>\n</section>\n<p>Vous n\'avez pas besoin de vous inscrire préalablement pour y participer. Il vous suffit de vous rendre directement sur l’un des créneaux Paris Sport Proximité, <strong>dans la limite des places disponibles. Gratuit.</strong></p><p><a href="https://www.paris.fr/comment-faire-du-sport">Tout savoir sur les dispositifs sportifs de la Ville de Paris</a></p>',
 'date_start': '2025-09-22T02:00:00+02:00',
 'date_end': '2026-07-05T01:59:59+02:00',
 'occurrences': nan,
 'date_description': 'Du lundi 22 septembre 2025 au samedi 04 juillet 2026 : <br />',
 'cover_url': 'https://cdn.paris.fr/qfapv4/2025/03/06/huge-d6a75870eaba3690efb1d2c64ad4c6fb.png',
 'cover_alt': 'Multisports',
 'cover_credit': 'Freepik',
 'locations': "[{'address_street': '30 rue Louis Lumière', 'address_zipCode': '75020', 'address_name': 'Centre Sportif Louis Lumière', 'address_lat_lon': '48.8591980183773,2.4116459593231', 'location_type': 'service', 'address_city': 'PARIS'}]",
 'address_name': 'Centre Sportif Louis Lumière',
 'address_street': '30 rue Louis Lumière',
 'address_zipcode': '75020',
 'address_city': 'Paris',
 'lat_lon': '48.8591980183773, 2.4116459593231',
 'pmr': nan,
 'blind': nan,
 'deaf': nan,
 'sign_language': nan,
 'mental': nan,
 'transport': nan,
 'contact_url': nan,
 'contact_phone': nan,
 'contact_mail': nan,
 'contact_facebook': nan,
 'contact_twitter': nan,
 'price_type': 'gratuit',
 'price_detail': '<p>Dans la limite des places disponibles.</p>',
 'access_type': 'non',
 'access_link': nan,
 'access_link_text': nan,
 'updated_at': '2025-09-29T17:46:54+02:00',
 'image_couverture': nan,
 'programs': 'Paris sport proximité\xa0: des activités gratuites proches de chez vous (https://www.paris.fr/evenements/paris-sport-proximite-des-activites-gratuites-proches-de-chez-vous-44433)',
 'address_url': nan,
 'address_url_text': nan,
 'address_text': nan,
 'title_event': 'Paris Sport Proximité',
 'audience': 'Public jeunes et adultes.',
 'childrens': nan,
 'group': 'Activités DJS',
 'locale': 'fr',
 'rank': '947.31',
 'weight': '1',
 'qfap_tags': 'Sport',
 'universe_tags': nan,
 'event_indoor': '1',
 'event_pets_allowed': '0',
 'contact_organisation_name': 'Direction de la Jeunesse et des Sports',
 'contact_url_text': nan,
 'contact_vimeo': nan,
 'contact_deezer': nan,
 'contact_tiktok': nan,
 'contact_twitch': nan,
 'contact_spotify': nan,
 'contact_youtube': nan,
 'contact_bandcamp': nan,
 'contact_linkedin': nan,
 'contact_snapchat': nan,
 'contact_whatsapp': nan,
 'contact_instagram': nan,
 'contact_messenger': nan,
 'contact_pinterest': nan,
 'contact_soundcloud': nan,
 'univers': nan}

In [133]:
dd[1][(dd[0].title != dd[1].title)].T

                                                                   31
id                                                              49878
event_id                                                        35980
url                 https://www.paris.fr/evenements/paris-sport-pr...
title               Paris sport proximité : tennis de table, multi...
lead_text           Participez à un large choix de disciplines pro...
...                                                               ...
contact_instagram                                                 NaN
contact_messenger                                                 NaN
contact_pinterest                                                 NaN
contact_soundcloud                                                NaN
univers                                                           NaN

[69 rows x 1 columns]

In [112]:

for a,b in zip(*[d.iterrows() for d in dd]):
    if a[1] == b[1]:
        pass
    else:
        print(a[1].title)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [116]:
b[1]

id                                                               100114
event_id                                                          74350
url                   https://www.paris.fr/evenements/les-foulees-de...
title                                   Les Foulées de l'Assurance 2026
lead_text             Le 29 mars prochain, c'est le retour des Foulé...
                                            ...
contact_instagram                                                   NaN
contact_messenger                                                   NaN
contact_pinterest                                                   NaN
contact_soundcloud                                                  NaN
univers                                                             NaN
Name: 13, Length: 69, dtype: object

In [43]:
ndf.updated_at = pd.to_datetime(ndf.updated_at)
df.updated_at = pd.to_datetime(df.updated_at)

C:\Users\michel.blazevic\AppData\Local\Temp\ipykernel_18532\546260780.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df.updated_at = pd.to_datetime(df.updated_at)

In [78]:
ndf[ndf.updated_at>df.updated_at.max()].shape

(36, 69)

In [80]:
tot = pd.concat([ndf,df])

In [83]:
tot.duplicated().sum()

np.int64(0)

'2025-12-01T18:44:56+01:00'